<div class="container">
  <div class="d-flex justify-content-start">
    <div class="card border-primary">
      <div class="card-body">
        <p>
          <b>{{proteinGroup}}</b>
        </p>
        <p>
          UniProt: <a href="https://www.uniprot.org/uniprot/{{proteinGroup}}" target="_blank">{{proteinGroup}}</a>
        </p>
        <p>
          Alternative UniProt Accs: <span *ngFor="let acc of secondaryUniProtAccs" class="text-primary">{{acc}}</span>
        </p>
        <p>
          UniProt Entry Name: <span class="text-primary">{{uniprotKbID}}</span>
        </p>
        <p>
          Full Name: <span class="text-primary">{{fullProteinName}}</span>
        </p>
        <p *ngIf="proteomicsDBID !== ''">
          ProteomicsDB: <a href="https://www.proteomicsdb.org/proteomicsdb/#protein/proteinDetails/{{proteomicsDBID}}" target="_blank">{{proteinGroup}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="card mt-2 border-danger">
    <div class="card-body">
      <div class="d-flex justify-content-end align-items-center gap-2">
        <div>
          <p class="text-muted">*AllPeptides is the peptide count that also include those without a calculated value</p>
        </div>
        <div><button class="btn btn-sm btn-primary" (click)="exportHandler(fileType.value)"><span class="bi bi-file-spreadsheet"></span> Export</button></div>
        <div class="form-group">
          <select #fileType class="form-control">
            <option value="csv">CSV</option>
            <option value="tsv">TSV</option>
            <option value="json">JSON</option>
          </select>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" *ngFor="let c of columns">{{c}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of summary">
          <td *ngFor="let c of columns">{{row[c]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
