<div class="d-flex justify-content-center align-items-center gap-2">
  <div><h1><b>{{protein}} <span *ngIf="uniprot['uniProtkbId']">({{uniprot['uniProtkbId']}})</span></b></h1></div><div><a href="#/protein-summary/{{protein}}" target="_blank"><span class="badge bg-warning">Protein card</span></a></div>
</div>
<div class="container">
  <app-protein-search [data]="df" (filteredData)="handlerFilterDFUpdate($event)"></app-protein-search>
</div>

<!--<div class="container mt-5" *ngIf="filteredDF.count() > 0">-->
<!--  <app-protein-view-tissue-based [data]="filteredDF"></app-protein-view-tissue-based>-->
<!--</div>-->
<ng-container *ngIf="!downloading; else downloadingMSDataProgress">
  <div class="container mt-5" *ngIf="filteredData.count() > 0; else empty">
    <app-protein-tau-collection [data]="filteredData"></app-protein-tau-collection>
  </div>

  <div class="container mt-5" *ngIf="modellingDataGroup.count() > 0">
    <app-summary></app-summary>
  </div>

  <div class="container mt-5" *ngIf="modellingDataGroup.count() > 0; else loadingModelling">
    <app-protein-modelling-collection [data]="modellingDataGroup"></app-protein-modelling-collection>
  </div>
</ng-container>

<div class="container mt-5" *ngIf="!downloading && coverageData">
  <app-coverage-plot [coverageData]="coverageData"></app-coverage-plot>
</div>




<ng-container *ngIf="!downloading">
  <div class="container mt-5" *ngIf="filteredData.count() > 0">
    <app-filter-preset [engines]="web.engines" [tissues]="web.tissues" [sequences]="web.strippedSequences" (filterOutput)="handleSubFilter($event)"></app-filter-preset>
  </div>

  <div class="fluid-container mt-5" style="padding: 20px" *ngIf="filteredData.count() > 0 && ready; else empty">
    <div ngbNav class="nav-tabs" [(activeId)]="activeId" #nav="ngbNav">
      <ng-container ngbNavItem [ngbNavItem]="1">
        <button ngbNavLink>Without sub-filter ({{filteredData.count()}})</button>
        <ng-template ngbNavContent>
          <app-protein-view-peptide-collection [data]="filteredData"></app-protein-view-peptide-collection>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="web.settings.filters.length > 0">
        <ng-container *ngFor="let filter of web.settings.filters" [ngbNavItem]="filter.id" [destroyOnHide]="true">
          <button ngbNavLink>{{filter.filterName}} ({{filterDFMap[filter.id].count()}}) <span class="btn-close ms-3 fw-light" (click)="removeFilter(filter.id)"></span></button>
          <ng-template ngbNavContent>
            <app-protein-view-peptide-collection [data]="filterDFMap[filter.id]"></app-protein-view-peptide-collection>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <app-floating-panels [filteredDF]="filteredData"></app-floating-panels>
</ng-container>

<ng-template #empty>
  <div class="container d-flex justify-content-center align-content-center">
    <p>
      No data could be found with the above filter parameters.
    </p>
  </div>
</ng-template>
<ng-template #loadingModelling>
  <div class="container d-flex justify-content-center align-content-center">
    <p>
      Loading modelling data...
    </p>
  </div>
</ng-template>

<ng-template #downloadingMSDataProgress>
  <div class="container p-2">
    <ngb-progressbar type="primary" [animated]="true" [value]="100" [striped]="true">{{'Downloaded ' + msDataProgress + ' MB'}}</ngb-progressbar>
  </div>
</ng-template>
