<div class="d-flex justify-content-center">
  <div><h1><b>{{protein}}</b></h1></div>
</div>
<div class="container">
  <app-protein-search [data]="df" (filteredData)="filteredData=$event"></app-protein-search>
</div>

<!--<div class="container mt-5" *ngIf="filteredDF.count() > 0">-->
<!--  <app-protein-view-tissue-based [data]="filteredDF"></app-protein-view-tissue-based>-->
<!--</div>-->

<div class="container mt-5" *ngIf="modellingDataGroup.count() > 0">
  <app-protein-modelling-collection [data]="modellingDataGroup"></app-protein-modelling-collection>
</div>

<div class="container mt-5" *ngIf="filteredData.count() > 0; else empty">
  <app-protein-view-peptide-collection [data]="filteredData"></app-protein-view-peptide-collection>
</div>

<ng-template #empty>
  <div class="container d-flex justify-content-center align-content-center">
    <p>
      No data could be found with the above filter parameters.
    </p>
  </div>
</ng-template>

