<div class="card" *ngIf="engines.length > 0">
  <div class="card-body">
    <h5 class="card-title">{{data.first().Tissue}}</h5>
    <div class="row gap-1">
      <div *ngFor="let e of engines" class="col-4">
        <plotly-plot [config]="config" (plotlyClick)="OnClick($event)" [data]="graphDataMap[e]" [layout]="graphLayoutMap[e]"  [revision]="revision"></plotly-plot>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="combine()">Combine</button>
  </div>
</div>


