<div class="d-flex gap-2 justify-content-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <p>
          Peptide Filter Parameter Control
        </p>
      </h5>
      <form [formGroup]="form" class="d-flex" style="gap: 20px">
        <div>
          <div class="form-group" style="width: 300px">
            <label for="tissues">Tissue Selection</label>
            <select id="tissues" class="form-control" formControlName="tissues" multiple>
              <option *ngFor="let o of tissues" [value]="o">{{o}}</option>
            </select>
          </div>
          <div class="form-group" style="width: 300px">
            <label for="engines">Engine Selection</label>
            <select id="engines" class="form-control" formControlName="engines" multiple>
              <option *ngFor="let o of engines" [value]="o">{{o}}</option>
            </select>
          </div>
        </div>
        <div>
          <div class="d-flex gap-2">
            <div class="form-group">
              <label for="minimumRSS">Minimum RSS</label>
              <input id="minimumRSS" class="form-control" type="number" formControlName="rssThreshold">
            </div>
            <div class="form-group">
              <label for="maxRSS">Maximum RSS</label>
              <input id="maxRSS" class="form-control" type="number" formControlName="maxRSS">
            </div>
          </div>
          <div class="d-flex gap-2">
            <div class="form-group">
              <label for="minimumHalflife">Minimum Halflife</label>
              <input id="minimumHalflife" class="form-control" type="number" formControlName="halflifeThreshold">
            </div>
            <div class="form-group">
              <label for="maxHalflife">Maximum Halflife</label>
              <input id="maxHalflife" class="form-control" type="number" formControlName="maxHalfLife">
            </div>
          </div>
          <div class="d-flex gap-2">
            <div class="form-group">
              <label for="minimumRSSAverage">Minimum RSS Average</label>
              <input id="minimumRSSAverage" class="form-control" type="number" formControlName="rssAverageThreshold">
            </div>
            <div class="form-group">
              <label for="maxRSSAverage">Maximum RSS Average</label>
              <input id="maxRSSAverage" class="form-control" type="number" formControlName="maxAverageRSS">
            </div>
          </div>

        </div>
        <div>
          <div class="form-check">
            <input class="form-check-input" formControlName="proteotypic" id="proteotypic" type="checkbox">
            <label class="form-check-label" for="proteotypic">
              Proteotypic Peptides Only
            </label>
          </div>
          <div class="form-group">
            <label for="minSamples">Minimum Number of Detected Samples</label>
            <input id="minSamples" class="form-control" type="number" formControlName="minSamplesDetected" style="width: 100px;">
          </div>
          <div class="form-group">
            <label for="minTimepoints">Minimum Number of Detected Timepoints</label>
            <input id="minTimepoints" class="form-control" type="number" formControlName="minTimepointsDetected" style="width: 100px;">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex" style="gap: 20px">
      <button class="btn btn-primary" (click)="reloadData()">Reload Data</button>
      <button class="btn btn-primary" (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <p>
          Experiment Parameters
        </p>
      </h5>
      <form [formGroup]="formExperimentParameters" class="d-flex" style="gap: 20px">
        <div class="form-group" style="width: 300px">
          <label for="experiment">Sample Selection</label>
          <select id="experiment" formControlName="samples" multiple class="form-control">
            <option *ngFor="let o of samples" [value]="o">{{o}} {{web.settings.sampleMap[o].Sample_Label}} - day {{web.settings.sampleMap[o].Days}} - rep {{web.settings.sampleMap[o].Replicate}}</option>
          </select>
          <small>Selected {{formExperimentParameters.value.samples.length}} samples</small>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="updateSelection()">Update Selection</button>
    </div>
  </div>
</div>
