<div class="d-flex justify-content-around">
  <form [formGroup]="form" (ngSubmit)="updatePlot()" style="width: 200px">
    <div class="form-check">
      <input class="form-check-input" id="hideNotSelected" formControlName="hideNotSelected" type="checkbox">
      <label for="hideNotSelected">Make not selected dot points transparent</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="log2" formControlName="log2" type="checkbox">
      <label for="log2">Log2 transform</label>
    </div>
    <div class="form-group">
      <label for="categories">
        Y axis categories
      </label>
      <select class="form-control" id="categories" formControlName="category">
        <option *ngFor="let c of categories" [value]="c">{{c}}</option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <ngx-colors formControlName="color" ngx-colors-trigger></ngx-colors>
      <label>Boxplot fill color</label>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Redraw</button>
  </form>
  <div class="flex-grow-1 overflow-auto">
    <div *ngFor="let e of engineList" class="d-flex justify-content-center">
      <plotly-plot [config]="config" (plotlyClick)="OnClick($event)" [data]="graphDataMap[e]" [layout]="graphLayoutMap[e]" [revision]="revision"></plotly-plot>
    </div>
  </div>

</div>


