<div class="modal-header">
  <h5 class="modal-title">
    Saved Session Browser
  </h5>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Protein Group</th>
      <th scope="col">Session Name</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let session of data">
      <th scope="row">{{session.id}}</th>
      <td>{{session.protein_group}}</td>
      <td>{{session.name}}</td>
      <td>{{session.created | date:'short'}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary" (click)="loadSession(session.id)">
          <i class="bi bi-minecart-loaded"></i>
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteSession(session.id)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Close
  </button>
</div>
