<div class="card" *ngIf="data">
  <div class="card-body">
    <b class="card-title" *ngIf="web.settings.colorMap[data.Precursor_Id]; else normal" [ngStyle]="{'color': web.settings.colorMap[data.Precursor_Id]}">
      {{data.Precursor_Id}}
    </b>
    <ng-template #normal>
      <b class="card-title">
        {{data.Precursor_Id}}
      </b>
    </ng-template>
    <app-scatter-time-plot [data]="data"></app-scatter-time-plot>

    <div>
      <p><b>HalfLife POI: {{data.HalfLife_POI|number: ".0-1"}}</b><br>
      RSS: {{data.rss|number: ".0-4"}}<br>
      Avg.RSS: {{data.AverageRSS|number: ".0-4"}}<br>
      Engine: {{data.Engine}}<br>
      Tissue: {{data.Tissue}}</p>
    </div>
  </div>
</div>
