//css for login box to be displayed in the enter of the screen
.login-box {
  margin-top: 75px;
  height: 300px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
