<div class="flex justify-content-center align-items-center mt-5" *ngIf="accounts.token === ''">
  <div class="card login-box">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="form" (ngSubmit)="loginHandler()">
        <div class="form-group">
          <label for="username">
            Username
          </label>
          <input type="text" formControlName="username" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="password">
            Password
          </label>
          <input type="password" formControlName="password" class="form-control" id="password">
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="loginHandler()">Login</button>
    </div>
  </div>
</div>
