<div class="flex justify-content-center align-items-center mt-5" *ngIf="accounts.token === ''; else loggedin">
  <div class="card login-box">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="form" (ngSubmit)="loginHandler()">
        <div class="form-group">
          <label for="username">
            Username
          </label>
          <input type="text" formControlName="username" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="password">
            Password
          </label>
          <input type="password" formControlName="password" class="form-control" id="password">
        </div>
        <div class="form-check">
          <label for="remember" class="form-check-label">
            Remember me
          </label>
          <input type="checkbox" formControlName="remember" class="form-check-input" id="remember">
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="loginHandler()">Login</button>
    </div>
  </div>
</div>

<ng-template #loggedin>
  <div class="d-flex justify-content-around p-2 g-2">
    <div class="p-2">
      <div class="card border-primary user-details">
        <div class="card-body">
          <h5 class="card-title">User details</h5>
          <p>Logged in as <span class="text-black">{{accounts.username}}</span></p>
          <p>Last visit at {{accounts.lastVisited|date:"short"}}</p>
        </div>
      </div>
      <div class="card mt-2" *ngIf="accounts.currentHistory.length > 0">
        <div class="card-body">
          <div class="card-title">
            <h5 class="card-title">History</h5>
            <ul>
              <li *ngFor="let item of accounts.currentHistory"><a href="#/protein-view/{{item}}">{{item}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 p-2">
      <div class="card border-2 border-black">
        <div class="card-body">
          <h5 class="card-title">Database</h5>
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
            <li [ngbNavItem]="1">
              <button ngbNavLink>Modelling parameters</button>
              <ng-template ngbNavContent>
                <div class="d-flex justify-content-center" *ngIf="selectedModel.length > 0">
                  <app-kpool-only-plot [data]="selectedModel"></app-kpool-only-plot>
                </div>
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">
                      <div class="form-check">
                        <input class="form-check-input" (change)="selectAll()" type="checkbox">
                      </div>
                    </th>
                    <th scope="col">
                      a
                    </th>
                    <th scope="col">
                      b
                    </th>
                    <th scope="col">
                      r
                    </th>
                    <th scope="col">
                      n
                    </th>
                    <th scope="col">
                      eps
                    </th>
                    <th scope="col">
                      min
                    </th>
                    <th scope="col">
                      Engine
                    </th>
                    <th scope="col">
                      Tissue
                    </th>
                    <th scope="col">
                      Actions
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let m of web.modelParameters; let ind = index">
                    <tr>
                      <td><div class="form-check"><input class="form-check-input" (change)="selectModel(ind)" type="checkbox" [ngModel]="selectionStatus[ind]"></div></td>
                      <td>{{m.a}}</td>
                      <td>{{m.b}}</td>
                      <td>{{m.r}}</td>
                      <td>{{m.n}}</td>
                      <td>{{m.eps}}</td>
                      <td>{{m.min}}</td>
                      <td>{{m.Engine}}</td>
                      <td>{{m.Tissue}}</td>
                      <td><button class="btn btn-sm" (click)="togglePanel(ind)"><i class="bi bi-graph-up"></i></button></td>
                    </tr>
                    <tr *ngIf="activePanel !== null && activePanel===ind">
                      <td [colSpan]="10">
                        <div class="d-flex justify-content-center">

                          <div>
                            <app-kpool-only-plot [data]="[m]"></app-kpool-only-plot>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>Identification distribution</button>
              <ng-template ngbNavContent>
                <app-database-stats></app-database-stats>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <button ngbNavLink>TAU database distribution</button>
              <ng-template ngbNavContent>
                <app-tau-database-distribution></app-tau-database-distribution>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>

  </div>
</ng-template>
